<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </div>
   <div class="field">
    <%= f.label :contato %><br />
    <%= f.text_field :contato %>
  </div>
  <div class="field">
    Contato<input type='button' value='Novo' onclick='adicionaContato();'><br />
      <% @cliente.contato_clientes.each do |cc| %>
        Nome: <%= cc.nome %> - Fone: <%= cc.fone %>
      <% end %>
    <div id="novo_contato">
    </div>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    Contato:
    <%= f.label :observacao %><br />
    <%= f.text_area :observacao, :size => "30x10" %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type='text/javascript'>

var contato = 1;
var adicionaContato = function(){
  $('#novo_contato').html($('#novo_contato').html() + "<input type='text' name='contato["+ contato +"][nome]'> - <input type='text' name='contato["+ contato +"][fone]'></br>");
  contato++;
}

</script>
