<%= form_tag "/clientes" do %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= label_tag :nome %></br>
    <%= text_field_tag :nome %>
  <div class="field">
    <%= label_tag :contato %><br />
    <%= text_field_tag :contato %>
  </div>
  <div class="field">
    <%= label_tag :telefone %><br />
    <%= text_field_tag :telefone %>
  </div>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label :observacao %><br />
    <%= text_area_tag :observacao %>
  </div>
  <div class="actions">
    <%= button_tag 'Cadastrar', :click => "alert('aqui');" %>
  </div>
<% end %>
