<%= form_for(@servico) do |f| %>
  <% if @servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
      <% @servico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="float: left">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :porcentagem %><br />
    <%= f.text_field :porcentagem %>
  </div>
  <div class="field">
    <%= f.label :detalhes %><br />
    <%= f.text_area :detalhes, :style => "width: 458px; height: 139px;" %>
  </div>
  <div class="actions">
    <%= f.submit 'Criar Serviço'%>
  </div>
<% end %>
