<h1>Listing servicos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Porcentagem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servicos.each do |servico| %>
  <tr>
    <td><%= servico.descricao %></td>
    <td><%= servico.porcentagem %></td>
    <td><%= link_to 'Show', servico %></td>
    <td><%= link_to 'Edit', edit_servico_path(servico) %></td>
    <td><%= link_to 'Destroy', servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Servico', new_servico_path %>
