<%= form_for(@indicacao) do |f| %>
  <% if @indicacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indicacao.errors.count, "error") %> prohibited this indicacao from being saved:</h2>

      <ul>
      <% @indicacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br />
    <%= f.text_field :cliente_id, :disabled => true %>
    <input type='text' id='cliente_nome' disabled='disabled'>
    <a data-toggle="modal" data-remote="/cliente/index_modal" data-target="#modalPesquisa" >Pesquisar</a>
    <a data-toggle="modal" data-remote="/cliente/novo_modal" data-target="#modalNovo" >Novo cliente</a>
  </div>
  <div class="field">
    <%= f.label :servico_id %><br />
    <%= f.select :servico_id, Servico.all.collect{|s| [s.id, s.descricao]} %>
  </div>
  <div class="field">
    <%= f.label :detalhes %><br />
    <%= f.text_area :detalhes, :style => "width: 458px; height: 139px;"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



 <!-- Modal -->
  <div class="modal fade" id="modalPesquisa">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          
        </div>
       
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="modalNovo">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          
        </div>
       
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
