<h3>Indicações</h3>
<%= form_tag '/indicacao/enviar_email', :method => 'post' do %>
<% if current_user.role.descricao == 'administrador' %>
  <%= submit_tag 'Enviar email'%>
<% end %>
  <table id="indicacoes_tab" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th><i class="icon-share-alt"></i></th>
        <th>Emails</th>
        <th>Data</th>
        <th>Dias</th>
        <th>Usuario</th>
        <th>Cliente</th>
        <th>Servico</th>
        <th>Detalhes</th>
        <th>Exibir</th>
        <th>Editar</th>
        <th>Apagar</th>
      </tr>
      </thead>
    <tbody>
    <% @indicacaos.each do |indicacao| %>
      <tr>
        <td><%= (current_user.role.descricao == 'administrador') ? (check_box_tag "indicacoes[#{indicacao.id}]") : "" %></td>
        <td><%= indicacao.email_enviado %></td>
        <td><%= indicacao.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= dias_corridos indicacao %></td>
        <td><%= indicacao.user.nome %></td>
        <td><%= indicacao.cliente ? indicacao.cliente.nome : 'vazio'%></td>
        <td><%= indicacao.servico.descricao %></td>
        <td><%= indicacao.detalhes %></td>
        <td><%= link_to 'Show', indicacao %></td>
        <td><%= link_to 'Edit', edit_indicacao_path(indicacao) %></td>
        <td><%= link_to 'Destroy', indicacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<br />

<script type="text/javascript">
  $(document).ready(function(){
    $('#indicacoes_tab').dataTable({
       "oLanguage": {
      "sLengthMenu": "_MENU_ registros por página",
      "sZeroRecords": "Nenhum registro",
      "sInfo": "Exibindo _START_ de _END_ total _TOTAL_ registros",
      "sInfoEmpty": "Exibindo 0 de 0 de 0 registros",
      "sInfoFiltered": "(filtered from _MAX_ total records)"
    }
    });
  });

</script>