<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @indicacao.created_at.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Usuario:</b>
  <%= @indicacao.user.nome %>
</p>

<p>
  <b>Cliente:</b>
  <%= @indicacao.cliente.nome %>
</p>

<p>
  <b>Servico:</b>
  <%= @indicacao.servico.descricao %>
</p>

<p>
  <b>Detalhes:</b>
  <%= @indicacao.detalhes %>
</p>