<h3>Relatório de indicações</h3>

<%= form_tag '/relatorio/indicacoes', :method => 'post' do %>
	<div>
		Periodo</br>
		<%= text_field_tag 'data-inicial', Time.now.strftime("%d/%m/%Y") , :class => 'datepicker' %>
		<%= text_field_tag 'data-final', Time.now.strftime("%d/%m/%Y"), :class => 'datepicker' %>
	</div>
	<div>
		Usuário</br>
		<% if current_user.role.descricao == 'administrador' %>
			<%= select_tag 'user_id', options_from_collection_for_select(User.all, "id", "nome"), :prompt => 'todos' %>
		<% else %>
			<%= select_tag 'user_id', options_for_select([[current_user.nome, current_user.id]]) %>
		<% end %>
	</div>
	<div>
		Serviço</br>
		<%= select_tag 'servico_id', options_from_collection_for_select(Servico.all, "id", "descricao"), :prompt => 'todos' %>
	</div>
	<div>
		Cliente</br>
		<%= select_tag 'cliente_id', options_from_collection_for_select(Cliente.all, "id", "nome"), :prompt => 'todos' %>
	</div>
	<div>
		Status da indicação </br>
		<%= radio_button_tag 'status', 'todos', true %> Todos </br>
		<%= radio_button_tag 'status', 'abertas' %> Abertas</br>
		<%= radio_button_tag 'status', 'concluidas' %> Fechadas com proposta </br>
		<%= radio_button_tag 'status', 'canceladas' %> Canceladas </br>
	</div>
	<div>
		</br>
		<%=h 'Saída' %></br>
		<%= radio_button_tag 'saida', 'tela', true %> Tela</br>
		<%= radio_button_tag 'saida', 'impressao' %> Impressão </br>
		<%= radio_button_tag 'saida', 'planilha' %> Planilha
	</div>
	<%= submit_tag 'enviar'%>
<% end %>

<script type='text/javascript'>
	$(function(){
		$('.datepicker').datepicker({
			format: 'dd/mm/yyyy'
		});
	});
</script>