Prezado,</br>

Sinalizar o resultado da indicação abaixo

<%= @greeting %>
<table>
	<thead>
	<tr>
		<th>DATA DA INDICAÇÃO</th>
		<th>QUEM INDICOU</th>
		<th>EMPRESA INDICADA</th>
		<th>DATALHES DA INDICAÇÃO</th>
		<th>SIM OU NÃO</th>
		<th>SE SIM, INFORMAR DETALHES DA VENDA (QUANTIDADE, TIPO DE SERVIÇO)</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @indicacao.created_at.strftime("%d/%m/%Y") %><td>
			<td><%= @indicacao.user.nome %><td>
			<td><%= @indicacao.cliente.nome %><td>
			<td><%= @indicacao.detalhes %><td>
			<td></td>
			<td></td>	
		</tr>
	</tbody>
</table>
