<div class="dropdown">
  <a data-toggle="dropdown" href="#" class='brand'>
    <%= link_to "Home", root_path, :class => 'brand' %>
  </a>
  <a data-toggle="dropdown" href="#" class='brand'>Cadastros<span class="caret"></span></a>
  </a>
  <ul class="dropdown-menu" arial-labelledby="dLabel" role='menu'>
    <li class='dropdown'><%= link_to 'Usuario', "/user", :html => "role='menuitem'"  %></li>
    <li class='dropdown'><%= link_to 'Setor', "/setors", :html => "role='menuitem'"  %></li>
    <li class='dropdown'><%= link_to 'Papel', "/roles", :html => "role='menuitem'"  %></li>
  </ul>
</div>

<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
